.header {
    background: $redColor;
    padding: 0 10px;

    .container {
        padding: 32px 0 24px;
        display: flex;
        flex-direction: column-reverse;

        .about {
            max-width: 351px;
            color: $whiteColor;

            &__name {
                font-weight: 600;
                font-size: 30px;
                margin-bottom: 8px;
            }

            &__spesialization {
                display: block;
                font-weight: 400;
                font-size: 12px;
                text-transform: uppercase;
                margin-bottom: 8px;
            }
            
            &__text {
                line-height: 150%;
            }
        }

        .avatar {
            max-width: 114px;
            max-height: 114px;
            margin-bottom: 20px;
        }
    }
}