.tools {
    padding: 0 10px;
    
    .container {
        border-top: 1px solid $gray;
        padding: 24px 0 32px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        width: 155px;
        height: fit-content;
        font-size: 20px;
        line-height: 100%;
        color: #E25544;
        margin-bottom: 30px;
    }

    &__info {
        max-width: 360px;
        
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        width: fit-content;
        padding-top: 9px;
        border-top: 1px dashed $gray;

        .column {
            display: flex;
            flex-direction: column;

            &__item {
                font-weight: 400;
                color: $blueSilverColor;
            }

            &__item:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__item:not(:last-child) {
        margin-bottom: 24px;
    }
}